parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
http:
	headers:
        Access-Control-Allow-Headers: 'Content-Type; X-Accept-Content-Type; X-Requested-With'
        Access-Control-Allow-Origin: 'http://localhost:3000/'
        Access-Control-Allow-Credentials: 'true'
